<header class="m-3">
  <h1 class="text-xl font-bold mb-4">Resultados para: "{{ searchQuery }}"</h1>

  @if (loading) {
  <p class="text-gray-500">Buscando productos...</p>
  } @if (!loading && products.length === 0) {
  <div class="mt-4 text-gray-500">No se encontraron resultados.</div>
  } @if (products.length > 0) {
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    @for (item of products; track item.id) {
    <app-product-card-1 [product]="item"> </app-product-card-1>
    }
  </div>
  }
</header>
