<div
  class="bg-linear-to-t from-blue-400 to-blue-500 grid grid-cols-2 justify-center text-white p-4 text-center"
>
  <div class="flex flex-col justify-center items-center">
    <span class="font-extrabold mb-2">Categorías</span>
    <ul class="text-center">
      <li><a>Infantil</a></li>
      <li><a>Suplementos</a></li>
      <li><a>Vitaminas y minerales</a></li>
      <li><a>Adultos mayores</a></li>
    </ul>
  </div>
  <div class="flex flex-col justify-center items-center">
    <span class="font-extrabold mb-2">Contacto</span>
    <ul class="text-left">
      <li>Correo: <a>example@example.com</a></li>
      <li>Whatsapp: <a>+52 228 123 1234</a></li>
      <li>Facebook: <a>Example</a></li>
      <li>Telegram: <a>+52 228 123 1234</a></li>
    </ul>
  </div>
</div>
