/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

app-root {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.label-form {
  @apply font-semibold text-gray-700;
}

.label-form-error {
  @apply text-red-600 text-sm;
}

h1 {
  @apply text-center text-2xl font-bold;
}

h2 {
  @apply text-center text-2xl;
}

h3 {
  @apply text-xl;
}
