<div
  (click)="showDetailPage()"
  class="max-w-sm bg-white rounded-lg border-2 border-gray-200 shadow-md overflow-hidden hover:shadow-xl hover:scale-110 transition-shadow duration-400 cursor-pointer"
>
  <!-- Imagen del producto -->
  <div class="h-30 content-center justify-items-center bg-gray-100">
    <img
      [src]="'https://placehold.co/200X100/000000/FFFFFF/png?text=' + product?.comercialName"
      [alt]="product?.comercialName"
      class="align-middle justify-center object-center border-2 border-gray-200"
    />

    <div class="top-2 right-2 bg-blue-600 text-white px-3 py-1 rounded-full text-sm font-semibold">
      ${{ product?.price?.toFixed(2) }}
    </div>
    <div
      *ngIf="product?.stock == 0"
      class="absolute top-2 left-2 bg-red-500 text-white px-2 py-1 rounded text-xs font-semibold"
    >
      Agotado
    </div>
  </div>

  <!-- Contenido -->
  <div class="p-2">
    <!-- Nombre comercial -->
    <h3 class="text-xl font-bold text-gray-800">
      {{ product?.comercialName }}
    </h3>

    <!-- Nombre químico (opcional) -->
    <p *ngIf="product?.chemicalName" class="text-sm text-gray-500 italic">
      {{ product?.chemicalName }}
    </p>

    <!-- Información adicional -->
    <div class="space-y-1 space-x-3">
      <div class="flex items-center text-sm">
        <span class="text-gray-500 w-20 mr-2">Stock:</span>
        <span class="font-semibold"> {{ product?.stock }} unidades </span>
      </div>

      <div class="flex items-center text-sm">
        <span class="text-gray-500 w-20 mr-2">Lote:</span>
        <span class="text-gray-700 font-medium">{{ product?.batch }}</span>
      </div>

      <div class="flex items-center text-sm">
        <span class="text-gray-500 w-20 mr-2">Vencimiento:</span>
        <span class="text-gray-700 font-medium">{{ formatDate(product?.outdate ?? '') }}</span>
      </div>

      <div *ngIf="product?.pharmaceutical" class="flex items-center text-sm">
        <span class="text-gray-500 w-20 mr-2">Lab.:</span>
        <span class="text-gray-700 font-medium">{{ product?.pharmaceutical }}</span>
      </div>

      <div *ngIf="product?.provider" class="flex items-center text-sm">
        <span class="text-gray-500 w-20 mr-2">Proveedor:</span>
        <span class="text-gray-700 font-medium">{{ product?.provider }}</span>
      </div>
    </div>
  </div>
</div>
